node_modules/
# Node
node_modules/

# Next.js build output
.next/
.next/cache/
.turbo/

# Build outputs
dist/
build/
out/
.env*
.env.local
.env.*.local

# OS / Editor
.DS_Store
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Package manager locks
pnpm-lock.yaml
package-lock.json
yarn.lock

# Caches
.cache/
.parcel-cache/
.sass-cache/

# Misc
*.local
/.pnp/
public/static/*
.env
/.vercel/
/.vercel/*
/.history/
*.pem
/.cert/
/.next/cache/